body
{
}

#nav{
    color: white;
    background-color: black;
}

#activeSide{
    background:black;
}

#passiveSide{
    background:grey;
}

#footer{
    position:fixed;
    bottom:1px;
}

#header{
    position:fixed;
    top:0px;
}

#passiveSide > div{
    width:50px;
    height:50px;
    background:black;
}

#input{
    display: flex;
    justify-content: space-around;
    vertical-align: top;
}

#input button{
    width: 100px;
}
#input input{
    width: 150px;
    margin: 2px;
}

.tableDif {
    border: 1px solid red;
    display: table;
    height: 100%;
    width: 100%;
}

.tableDifChildren-upper-box {
    background-color: #eee;
    display: block;
    vertical-align: middle;
    padding: 3px;
    width: 100%
}
.tableDifChildren-left-box {
    background-color: #eee;
    display: table-cell;
    vertical-align: middle;
    padding: 3px;
    width: 50%;
}

.tableDifChildren-right-box {
    background-color: #dddddd;
    display: table-cell;
    vertical-align: middle;
    padding: 3px;
    width: 50%;
}

[draggable] {
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    /* Required to make elements draggable in old WebKit */
    -khtml-user-drag: element;
    -webkit-user-drag: element;
}

.widgetLabel {
    font-family: Poppins-Regular;
    font-size: 16px;
    font-style:italic;
    text-align: center;
}


.gridster li {
    list-style: none;

}

.gs_w {
    background: yellow;
}
.yellow {
    background:yellow;
}