body
{
}




​
#activeSide {
    background: black;
}

#passiveSide{
    background:grey;
}

#footer{
    position:fixed;
    bottom:0px;
}

#header{
    position:fixed;
    top:0px;
}

#left-box {
    background-color: #eee;
    display: table-cell;
    vertical-align: middle;
    padding: 3px;
    width: 50%;
}

#right-box {
    background-color: #dddddd;
    display: table-cell;
    vertical-align: middle;
    padding: 3px;
    width: 50%;
}

.gridster li{
    list-style: none;
}

.gs_w {
    background: yellow;
}
.yellow {
    background:yellow;
}

.green {
    background: green;
}

