body
{
}

#nav{
    text-color: white;
}

#activeSide{
    background:black;
}

#passiveSide{
    background:grey;
}

#footer{
    position:fixed;
    bottom:1px;
}

#header{
    position:fixed;
    top:0px;
}

#passiveSide > div{
    width:50px;
    height:50px;
    background:black;
}

#input{
    display: flex;
    justify-content: space-around;
    vertical-align: top;
}

#input button{
    width: 100px;
}
#input table td th{
    height: 51px;
}

.tableDif {
    border: 1px solid red;
    display: table;
    height: 100%;
    width: 100%;
}

.tableDifChildren-upper-box {
    background-color: #eee;
    display: block;
    vertical-align: middle;
    padding: 3px;
    width: 100%
}
.tableDifChildren-left-box {
    background-color: #eee;
    display: table-cell;
    vertical-align: middle;
    padding: 3px;
    width: 50%;
}

.tableDifChildren-right-box {
    background-color: #dddddd;
    display: table-cell;
    vertical-align: middle;
    padding: 3px;
    width: 50%;
}

[draggable] {
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    /* Required to make elements draggable in old WebKit */
    -khtml-user-drag: element;
    -webkit-user-drag: element;
}

aside {
    position: absolute;
    left: 0;
    top: 200; /* set these so Chrome doesn't return 'auto' from getComputedStyle */
    width: 200px;
    background: rgba(255,255,255,0.66);
    border: 2px solid rgba(0,0,0,0.5);
    border-radius: 4px;
    padding: 8px;
}

.gridster li{
    list-style: none;
}

.gs_w {
    background: yellow;
}
.yellow {
    background:yellow;
}