body
{
}

#activeSide{
    background:black;
}

#passiveSide{
    background:grey;
}

#footer{
    position:fixed;
    bottom:0px;
}

#header{
    position:fixed;
    top:0px;
}

#passiveSide > div{
    width:50px;
    height:50px;
    background:black;
}

[draggable] {
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    /* Required to make elements draggable in old WebKit */
    -khtml-user-drag: element;
    -webkit-user-drag: element;
}

aside {
    position: absolute;
    left: 0;
    top: 200; /* set these so Chrome doesn't return 'auto' from getComputedStyle */
    width: 200px;
    background: rgba(255,255,255,0.66);
    border: 2px solid rgba(0,0,0,0.5);
    border-radius: 4px;
    padding: 8px;
}

.gridster li{
    list-style: none;
}

.gs_w {
    background: yellow;
}
.yellow {
    background:yellow;
}