limiter {
    width: 100%;
    margin: 0 auto;
}

.container-table100 {
    width: 100%;
    min-height: 100vh;
    background: #c4d3f6;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 33px 30px;
}

.wrap-table100 {
    width: 450px;
    border-radius: 10px;
    overflow: hidden;
}

.table {
    width: 100%;
    display: table;
    margin: 0;
    font-size: 12px;
}

@media screen and (max-width: 768px) {
    .table {
        display: block;
    }
}

.row {
    display: table-row;
    background: #fff;
}

    .row.header {
        color: #ffffff;
        background: #6c7ae0;
    }

@media screen and (max-width: 768px) {
    .row {
        display: block;
    }

        .row.header {
            padding: 0;
            height: 0px;
        }
        

            .row.header .cell {
                display: none;
            }

        /*.row .cell:before {
            font-family: Poppins-Bold;
            font-size: 12px;
            color: #808080;
            line-height: 1.2;
            text-transform: uppercase;
            font-weight: unset !important;
            margin-bottom: 13px;
            content: attr(data-title);
            min-width: 98px;
            display: block;
        }*/
}

.cell {
    display: table-cell;
    height:10px;
    width: 30px;
}

@media screen and (max-width: 768px) {
    .cell {
        display: block;
    }
}

.row .cell {
    font-family: Poppins-Regular;
    font-size: 12px;
    text-align: center;
    color: #666666;
    line-height: 1.0;
    font-weight: unset !important;
    border-bottom: 1px solid #f2f2f2;
    padding-bottom: 2px;
    padding-top: 2px;
    padding-left: 5px;
}

.row.header .cell {
    font-family: Poppins-Regular;
    font-size: 15px;
    color: #fff;
    line-height: 1.2;
    font-weight: unset !important;
    padding-top: 15px;
    padding-bottom: 15px;
    border-style: none;
}

.row.superHeader .cell {
    font-family: Poppins-Regular;
    font-size: 44px;
    color: #fff;
    line-height: 1.2;
    font-weight: unset !important;
    padding-top: 15px;
    padding-bottom: 15px;
    border-style: none;
    width:100%;
}

.row .cell:nth-child(1) {
    width: 15%;
    /*padding-left: 40px;
        */
}

.row .cell:nth-child(2) {
    width: 35%;
    border-style: none solid none none;
    border-width: 2px;
}

.row .cell:nth-child(3) {
    width: 15%;
}

.row .cell:nth-child(4) {
    width: 35%;
}


.table, .row {
    width: 100% !important;
}

    .row:hover {
        background-color: #ececff;
        cursor: pointer;
    }

@media (max-width: 768px) {
    .row {
        border-bottom: 1px solid #f2f2f2;
        margin: 0;
    }

        .row .cell {
            border: none;
            padding-bottom:2px;
            padding-top:2px;
            padding-left:5px;
        }

            .row .cell:nth-child(1) {
                padding-left: 30px;
            }

        .row .cell {
            font-family: Poppins-Regular;
            font-size: 18px;
            color: #555555;
            line-height: 1.2;
            font-weight: unset !important;
        }

    .table, .row, .cell {
        width: 100% !important;
    }
}

.sollTableDiv {
    float: left;
   
}

.habenTableDiv {
    float: right;
  
}

.tableSumDiv{
    font-size: 11px;
}

.widgetLabel{
    font-size:12px;
    text-align: center;
}
